<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!-- Insert Dynamic value using EJS package-->
    <!-- <% const name = 'sayed' %> -->
    
    <!-- include files instead of code  -->
    <%- include('./partials/nav.ejs') %>


    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blogs => {%>
                <h3 class="title"><%= blogs.title %></h3>
                <p class="snippet"><%= blogs.snippet %></p>
            <% }) %>
        <% } else{ %>
            <p>There are no blogs to display...</p>
            <% } %>

    </div>
    <div>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>